@media (max-width: 833px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-image: url(img/Star-telephon-35px.svg), url(img/star-telephone-21px.svg), url(img/star-telrphone.svg), url(img/Star-telephone-18px.svg), url(img/Star-telephone-38px.svg);
        background-repeat: no-repeat;
        background-position: 37px 97px, 91px 64px, 215px -80px, 272px 557px, 303px 580px;
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        justify-content: center;

        &__content {
            width: 343px;
            gap: 36px;
            align-items: center;
        }

        &__box {
            max-width: 296px;
            align-items: center;
        }

        &__title {
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            width: 262px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__button {
            font-size: 16px;
            width: 285px;
            height: 55px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: inherit;
        }
    }

    .text {
        &__content {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 16px;
        }
    }

    .games {
        padding-bottom: 50px;
        gap: 48px;

        &__title {
            font-size: 40px;
            line-height: 49px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 20px;
        }

        &__card-item {
            display: none;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            &__content {
                width: 343px;
                min-height: 343px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px;
            }

            &__box {
                text-align: center;
            }

            &__title {
                font-size: 32px;
                line-height: 39px;
            }

            &__number {
                font-size: 16px;
            }
        }
    }
}