@media (max-width: 833px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-image: url(img/star1m.svg), url(img/star2m.svg), url(img/star3m.svg), url(img/star4m.svg), url(img/star5m.svg);
        background-repeat: no-repeat;
        background-position: 37px 97px, 91px 64px, 273px 557px, 304px 580px, 290px 40px;
        display: flex;
        justify-content: center;

        &__content {
            width: 343px;
            gap: 36px;
            align-items: center;
        }

        &__box {
            max-width: 296px;
            align-items: center;
        }

        &__title {
            color: rgba(32, 32, 39, 1);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
        }

        &__subtitle {
            color: rgba(32, 32, 39, 1);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
        }

        &__button {
            box-sizing: border-box;
            border: 1px solid rgba(32, 32, 39, 1);
            border-radius: 60px;
            background: rgba(32, 32, 39, 1);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: auto;
            padding-left: 103.5px;
            padding-right: 103.5px;
        }
    }

    .text {
        &__content {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 16px;
        }
    }
    .games {
        display: none;
    }
}