@media (max-width: 1034px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .header {
        background-image: url(img/Star\ 2.svg), url(img/header-3.svg), url(img/heading-5.svg), url(img/heading-6.svg), url(img/star-telrphone.svg);
        background-repeat: no-repeat;
        background-position: 63px 94px, 156px 69px, 600px 538px, 700px 568px, 670px -85px;
        padding-bottom: 115px;
    }

    .text {
        &__content {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .games {
        &__card-item {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .card {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            justify-content: center;

            &__content {
                height: 550px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
    }
}